.popup-image-container{
    display:inline-flex;
    height:4rem;
    width:4rem;
}

.card-button-container{
    display: flex;
    flex-direction: column;
}

.card-button-container button{
    margin: 0.5rem;
    border-radius: 0.5rem;
}